 /* +Nav things */

 nav {
     display: flex;
     border: solid #161616 1px;
 }

 .name {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: xx-large;
     text-transform: uppercase;
     margin-top: 20px;
     margin-bottom: 20px;
     color: #161616;
     margin-left: 90px;
     align-items: center;
 }

 .country {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     align-self: flex-end;
     font-size: xx-large;
     text-transform: uppercase;
     top: 29px;
     left: 1000px;
     color: #161616;
     margin-bottom: 10px;
     margin-left: 400px;
     position: fixed;

 }

 .home span {
     padding-right: 10px;
 }

 a {
     display: inline-block;
     text-decoration: none;
     padding: 5px 5px 5px;
     margin-right: 10px;
 }

 a:hover {
    border-color: #161616; /* Change border color on hover */
    box-shadow: 0 0 10px 2px #161616; /* Add a box shadow on hover */
    transition: border-color 0.3s ease;
 }

 a:visited {
     color: #161616;
     position: absolute;

 }

.homeicon, .workicon, .abouticon {
    height: 35px;
    display: inline-block;

}

 /* ++++++++++++++++++++++++++++++++ */
 .links {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-transform: uppercase;
     font-size: x-large;
     color: #161616;
     margin-top: 15px;
     right: 750px;
     position: fixed;

 }

 .webd {
     position: absolute;
     top: 20%;
     margin-left: 50%;
     transform: translate(-50%, -50%);
     border: solid #161616 1px;
 }

 .meaning {
     font-size: 40px;
     padding:  0px 30px 0px 30px;
 }

 .builder {
     color: #161616;
     font-size: x-large;
     margin-left: 80px;
     margin-right: 300px;
 }



 /* ++++++++++++++++++++++++++++++++ */



 h2 {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: #161616;
 }

 body {
     background-color:aliceblue;
 }

 .cards {
    border: 1px solid #161616;
 }
 /* Meaning of a web dev */
 .webdev {
     width: 300px;
     /* Adjust width as needed */
     height: 400px;
     /* Adjust height as needed */
     perspective: 500px;
     /* Perspective for 3D effect */
     margin-top: 11%;
     margin-left: 10%;
     display: inline-block;
     justify-content: center;
     /* Center horizontally */
     align-items: center;
     /* Center vertically */
 }

 .webdev:hover .front1 {
     transform: rotateY(-180deg);
     /* Flip to reveal back side */
 }

 .webdev:hover .back1 {
     transform: rotateY(0deg);
     /* Flip to reveal back side */
 }

 .front1,
 .back1 {
     width: 90%;
     height: 100%;
     position: absolute;
     backface-visibility: hidden;
     /* Hide the back side initially */
     transition: transform 0.8s;
     /* Smooth transition effect */
     text-align: center;
     /* Center text horizontally */

 }

 .front1 {
     background-color: aliceblue;
     /* Front side color */
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 40px;
     align-items: center;
     justify-content: center;
     border: 2px solid #161616;

 }

 .insidefront1 {
     padding-top: 38%;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 40px;
     color: #161616;
 }

 .back1 {
     background-color: aliceblue;
     /* Back side color */
     transform: rotateY(180deg);
     /* Initial flip to hide back side */
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     border: 2px solid #161616;
 }

 .insideback1 {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 20px;
     padding-top: 15%;
     padding-left: 5%;
     padding-right: 5%;
     color: #161616;
 }

 /* Academic */

 .academic {
     width: 300px;
     /* Adjust width as needed */
     height: 400px;
     /* Adjust height as needed */
     perspective: 500px;
     /* Perspective for 3D effect */
     margin-top: -23.3%;
     margin-left: 30%;
     display: flex;
     justify-content: center;
     /* Center horizontally */
     align-items: center;
     /* Center vertically */
 }

 .academic:hover .front2 {
     transform: rotateY(-180deg);
     /* Flip to reveal back side */
 }

 .academic:hover .back2 {
     transform: rotateY(0deg);
     /* Flip to reveal back side */
 }

 .front2, .back2 {
     width: 90%;
     height: 100%;
     position: absolute;
     backface-visibility: hidden;
     /* Hide the back side initially */
     transition: transform 0.8s;
     /* Smooth transition effect */
     text-align: center;
     /* Center text horizontally */

 }

 .front2 {
     background-color: aliceblue;
     /* Front side color */
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 40px;
     align-items: center;
     justify-content: center;
     border: 2px solid#161616;

 }

 .insidefront2 {
     padding-top: 38%;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 40px;
     color: #161616;
 }

 .back2 {
     background-color: aliceblue;
     /* Back side color */
     transform: rotateY(180deg);
     /* Initial flip to hide back side */
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     border: 2px solid#161616;

 }

 .insideback2 {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 20px;
     padding-top: 15%;
     padding-left: 5%;
     padding-right: 5%;
 }

  /* Profesional */

  .profesional {
    width: 300px;
    /* Adjust width as needed */
    height: 400px;
    /* Adjust height as needed */
    perspective: 500px;
    /* Perspective for 3D effect */
    margin-top: -24.3%;
    margin-left: 50%;
    margin-bottom: 15.96px;
    display: inline-block;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.profesional:hover .front3 {
    transform: rotateY(-180deg);
    /* Flip to reveal back side */
}

.profesional:hover .back3 {
    transform: rotateY(0deg);
    /* Flip to reveal back side */
}

.front3, .back3 {
    width: 90%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    /* Hide the back side initially */
    transition: transform 0.8s;
    /* Smooth transition effect */
    text-align: center;
    /* Center text horizontally */

}

.front3 {
    background-color: aliceblue
    /* Front side color */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    border: 2px solid #161616;

}

.insidefront3 {
    padding-top: 38%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: #161616
}

.back3 {
    background-color: aliceblue;
    /* Back side color */
    transform: rotateY(180deg);
    /* Initial flip to hide back side */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid#161616;
}

.insideback3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
}


 /* Personal */

 .personal {
    width: 300px;
    /* Adjust width as needed */
    height: 400px;
    /* Adjust height as needed */
    perspective: 500px;
    /* Perspective for 3D effect */
    margin-top: -24.3%;
    margin-left: 70%;
    display: flex
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.personal:hover .front4 {
    transform: rotateY(-180deg);
    /* Flip to reveal back side */
}

.personal:hover .back4 {
    transform: rotateY(0deg);
    /* Flip to reveal back side */
}

.front4, .back4 {
    width: 90%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    /* Hide the back side initially */
    transition: transform 0.8s;
    /* Smooth transition effect */
    text-align: center;
    /* Center text horizontally */

}

.front4 {
    background-color: aliceblue;
    /* Front side color */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    border: 2px solid #161616;

}

.insidefront4 {
    padding-top: 38%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: #161616;
}

.back4 {
    background-color: aliceblue;
    /* Back side color */
    transform: rotateY(180deg);
    /* Initial flip to hide back side */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid #161616;
}

.insideback4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
}